@model IEnumerable<FishToolsStoreECommerceApp.Models.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <label>Üyeler</label>
</div>

<div class="pageContent">
    <div class="pagetitle">
        <h2>Üye Listesi</h2>
        <div style="clear:both"></div>
    </div>
    <div class="tableContent">
        <table class="table">
            <tr>
                <th style="border-left:none">
                    Üye No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Seçenekler</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="border-left:none">@item.ID</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </th>
                    <td>
                        @if (item.IsActive)
                        {
                            <label>Aktif</label>
                        }
                        else
                        {
                            <label>Pasif</label>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("EditStatus","Member", new {id=item.ID})" class="btnedit">Durum</a>
                        <a href="@Url.Action("Delete","Member", new {id=item.ID})" class="btndelete">Sil</a>
                    </td>
                </tr>
            }
        </table>

    </div>
    <div class="tablefooter">
        <a href="@Url.Action("AllIndex","Member")">Tüm Üyeleri Listele</a>
    </div>
</div>

@section styles
{
    <link href="~/Areas/ManagerPanel/Assets/css/TableStyle.css" rel="stylesheet" />
}

