
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}
<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> 
</div>

<div class="pageContent">
    <div class="pagetitle" style="border-bottom:1px solid silver; ">
        <h2>Yönetim Paneli</h2>
        <div style="clear:both"></div>
    </div>
    <div class="formContent">
        <div class="row" style="border-bottom:1px solid silver; ">
            <div class="countBox" style="background-color:darkred">
                Ürün Sayısı = @ViewBag.ProductCount
            </div>
            <div class="countBox" style="background-color:darkorange">
                Kategori Sayısı = @ViewBag.CategoryCount
            </div>
            <div class="countBox" style="background-color:darkcyan">
                Marka Sayısı = @ViewBag.BrandCount
            </div>
            <div class="countBox" style="background-color:darkviolet">
                Üye Sayısı = @ViewBag.MemberCount
            </div>
            <div class="countBox" style="background-color:lightcoral">
                Sipariş Sayısı =
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>


