@{ 
    FishToolsStoreECommerceApp.Models.Manager manager = Session["manager"] as FishToolsStoreECommerceApp.Models.Manager;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/ManagerPanel/Assets/css/MainStyle.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="sidebar">
        <h2>Yönetim Paneli</h2>
        <div class="userPanel">
            <div style="text-align:center">
                <img src="~/Areas/ManagerPanel/Assets/PageImages/User-Avatar-Profile-Clip-Art-Transparent-PNG.png" />
                <h4>@manager.Name @manager.Surname</h4>
                <div style="margin-top:10px;"></div>
                <a href="#" style="margin-right:10px;">Profil</a>
                <a href="@Url.Action("Logout","Login")">Çıkış Yap</a>
                <div style="clear:both"></div>
            </div>
        </div>
        <ul>
            <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
            <li><a href="@Url.Action("Index","Category")">Kategori İşlemleri</a></li>
            <li><a href="@Url.Action("Index","Brands")">Marka İşlemleri</a></li>
            <li><a href="@Url.Action("Create","Product")">Ürün İşlemleri</a></li>
            <li><a href="#logout">Üye İşlemleri</a></li>
            <li><a href="#logout">Sipariş İşlemleri</a></li>
            <li><a href="#logout">Satış İşlemleri</a></li>
            <li><a href="#logout">Çıkış</a></li>
        </ul>
    </div>
    <div class="main-content">
        
        @RenderBody()
    </div>
</body>

</html>
