@using FishToolsStoreECommerceApp.Models
@{
    Member user = Session["user"] as Member;
    SystemHelpers help = new SystemHelpers();
    int count = 0;
    if (Session["user"]!=  null)
    {
        count = help.getProductCount(user.ID);
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fish Tools Store - @ViewBag.Title</title>
    <link href="~/Assets/css/UIMainStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="topbanner">
        <div class="boxedlayout">
            <div class="left hizliveucretsiz">
                <strong>Hızlı ve Ücretsiz</strong> 2 Günde Siparişin Yanında...
            </div>
            <div class="right userbuttons">
                <a href="">Takip Listem</a>
                @if (Session["user"] != null)
                {
                    <a href="@Url.Action("Favorites", "Product")">Favorilerim</a>
                    <a href="@Url.Action("Logout", "Login")">Çıkış Yap</a>
                    <span>@user.Name @user.Surname</span>

                }
                else
                {
                    <a href="@Url.Action("Index","Login")">Giriş Yap</a><label>/</label>
                    <a href="@Url.Action("Index","Register")" style="padding:0;">Üye Ol</a>
                }

            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="boxedlayout">
        <div class="header">
            <div class="left logo">
                <img src="~/Assets/PageImages/fishtools-logo.png" />
            </div>
            <div class="right phoneAndCart">
                <a href="" class="phone">+90222 220 25 76</a>
                <a href="" class="cart">Sepetim (@count) </a>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="mainMenu">
            <a href="@Url.Action("Index","Home")" class="home">Anasayfa</a>
            <a href="">Kampanyalar</a>
            <a href="">Ödeme Yöntemleri</a>
            <a href="">İletişim</a>
        </div>
    </div>
    <div class="boxedlayout">
        @RenderBody()
    </div>
</body>
</html>
